@import '../styles/mixins.scss';

.navbar__brand {
  font-size: 3.5rem;
}
.nav {
  font-size: 1.7rem;
  &__home-screen {
    color: #fff !important;
  }
  &__normal-screen {
    color: #000 !important;
  }
}
.header__navbar {
  width: 100%;
  z-index: 12;
  &__home-screen {
    position: absolute;
    background-color: transparent;
    top: 0;
  }
  &__normal-screen {
    background-color: #fff;
    position: fixed;
    top: 0;
    border-bottom: 0.5px solid #c4c4c4;
    &__scrolled {
      width: 100%;
      border-radius: 2px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      border: none;
    }
  }
}
// .navbar {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: nowrap;
// }
.searchbox {
  width: 100%;
  padding-left: 2rem;
  border-radius: 50px;
  font-size: 1.6rem;
  margin: auto;

  @include respond(phone) {
    padding-left: 1rem;
  }

  &__container {
    position: relative;
    min-width: 40%;
    margin-right: 3%;
    margin-left: 3%;
    @include respond(phone) {
      min-width: 52%;
    }
  }

  &__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.6rem;
  }
}
.brand-name-primary {
  &__home-screen {
    color: #4f879d;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__normal-screen {
    color: #4f879d;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.brand-name-secondary {
  &__home-screen {
    color: #fff;
    font-weight: 300;
    text-transform: lowercase;
  }
  &__normal-screen {
    color: #000;
    font-weight: 300;
    text-transform: lowercase;
  }
}
