@import './styles/mixins.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(phone) {
    font-size: 43.75%; //1rem = 7px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

.container {
  min-width: 85%;
}
.row {
  position: relative;
}
footer {
  background-color: #000;
  min-height: 40rem;
}
.footer_link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  margin-right: 3rem;
}
.icon__section {
  display: flex;
  justify-content: center;
}
.footer__icon {
  color: #f4f4f4;
  font-size: 2rem;
  margin-right: 2.2rem;
}
.copyright__text {
  color: #fff;
  display: block;
  margin: auto;
  font-size: 1.6rem;
  border-top: 1px solid #f4f4f4;
  padding-top: 0.5rem;
}
.default-font {
  font-size: 1.6rem;
}
